[Desktop Entry]
Name=Compass
Comment=Find magnetic north with a clear, responsive compass
Keywords=compass;heading;direction;north;sensor;
Exec=compass
Icon=org.cosmic_utils.compass
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=org.cosmic_utils.compass
X-Geoclue-Reason=Show coordinates and elevation alongside the compass heading
