[Desktop Entry]
Name=Compass
Name[cs]=Kompas
Name[de]=Kompass
Name[sv]=Kompass
Name[uk]=Компас
Comment=Find magnetic north with a clear, responsive compass
Comment[cs]=Najděte magnetický sever pomocí přehledného a responzivního kompasu
Comment[de]=Mit einem übersichtlichen, responsiven Kompass den magnetischen Norden finden
Comment[sv]=Hitta den magnetiska nordpolen med en tydlig och snabbreagerande kompass
Comment[uk]=Визначайте магнітну північ за допомогою зручного та адаптивного компаса
Keywords=compass;heading;direction;north;sensor;
Keywords[cs]=kompas;směr;orientace;sever;senzor;
Keywords[de]=Kompass;Kurs;Richtung;Norden;Sensor;
Keywords[sv]=kompass;kurs;riktning;norr;sensor;
Keywords[uk]=compass;heading;direction;north;sensor;компас;напрямок;північ;сенсор;датчик;
Exec=compass
Icon=org.cosmic_utils.compass
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=org.cosmic_utils.compass
X-Geoclue-Reason=Show coordinates and elevation alongside the compass heading
